.hover-card-container {
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.hover-card-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
    pointer-events: none;
}

.hover-card-container:hover {
    transform: scale(1.05); /* Scale up the entire card on hover */
}

.hover-card-container:hover::after {

}

.hover-image {
    transition: transform 0.3s ease-in-out;
}

.hover-card-container:hover .hover-image {
    transform: scale(1.1);
}
